/* 1. Universal selectors */
*{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
/* 2. Id selector */
#fruits{
    color: red;
    border: 2px dotted green;
}
/* 3. Class Selector */
.a1{
    color: green;
    text-decoration: line-through;
    font-weight: 800;
}
/* 4. Element Selector */
p{
    background-color: pink;
}
/* 5. Attribute Selector */
input[type="text"]{
    background-color: palevioletred;
}
input[type="password"]{
    background-color: rgb(23, 212, 102);
}
[placeholder="Email"]{
    background-color: aqua;
}
